
@font-face {
    font-family: "monoidregular";
    src: url("./fonts/monoid-regular.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "monoidregular";
    src: url("./fonts/monoid-bold.woff2")
    format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "monoidregular";
    src: url("./fonts/monoid-italic.woff2")
    format("woff2");
    font-weight: normal;
    font-style: italic;
  }