:root {
  --dark-background: #002b36;
  --subtly-light-background: #deeef2;
  --subtly-dark-background: #1d1603;
  --light-background: #fdf6e3;
  --gray-text: #a9babc;
  --subtly-transparent: #a9babc77;
  --bright-orange: #c60;
  --brown: #842;
  --bright-yellow: #cc6;
  --bright-blue: #06c;
  --bright-red: #c00;
  --wired-code: #2aa198;
  --yellow: #b58900;
}

body {
  background: var(--dark-background) !important;
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.3em;
}
li {
  padding-left: 1em;
  list-style-type: "- ";
}

body {
  background: var(--light-background);
}


hr {
  border: 1px solid #657b83 !important;
}

p {
  margin: 0;
}

a {
  color: darkgreen;
}
