h1 {
  font-size: 120%;
}

h2 {
  font-size: 115%;
}
h3 {
  font-size: 110%;
}
h4 {
  font-size: 105%;
}

#content {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  width: fit-content;
  height: fit-content;
  overflow: auto;
}

body {
  margin: 0;
  /* TODO Hidden looks better as Chrome web app, but fails at scrolling */
  overflow: hidden;
}

/* This touch-action should be in code */

#content {
  padding: 0.2em;
}

.outer-light {
  background: var(--subtly-light-background) !important;
}

.outer-dark {
  background: var(--subtly-dark-background) !important;
}

.on-top {
  z-index: 1000 !important;
}

.better-handle {
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  display: block;
  padding: 2em;
  border-radius: 5px;
  line-height: 1.5;
  font-weight: 100;
  z-index: -1;
}

.body-container {
  position: fixed;
  touch-action: none;
  line-height: 1.5;
  font-weight: 100;
  /*padding: 1em;*/
  caret-color: green;
  width: 30%;
  height: 30%;
  min-height: fit-content;
  /* height: 300px; why the f had I this hardcoded? */
  overflow: auto;
  /*
     * resize: both;
     * This does not work in iOS Safari and I might then as well use the 
     * nice-looking interactjs.io also for dragging.
     * */
  border: 1px solid var(--bright-orange);
  border-radius: 5px;
  /* float: inline-start; */
  /*min-width: fit-content;
  min-height: fit-content;*/
  /*max-height: 95%;*/
  max-width: 95%;
  margin: 1em;
  box-sizing: border-box;
  z-index: 1;
}

#modal {
  padding: 1em;
  position: absolute;
  margin: auto;
  line-height: 1.5;
  font-weight: 100;
  min-height: fit-content;
  min-width: fit-content;
  overflow: auto;
  border: 1px solid var(--bright-orange);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "monoidregular" !important;
  z-index: 10000;
}

input.filename {
  display: none;
}

.search {
  font-size: 110%;
  border: none;
  font-family: "monoidregular" !important;
}

.search::placeholder { 
  color: var(--subtly-transparent) !important;
  font-style: italic; /* Optional, adds additional distinction */
  font-family: "monoidregular" !important;
}

.search:focus {
  outline: none;
}

a {
  color: var(--yellow);
  text-decoration: none;
  cursor: pointer;
}

.selected {
  box-shadow: 
  0 0 10px 2px #cccc66cc, /* Smaller, brighter inner glow */
  0 0 30px 10px #cccc6644, /* Larger, softer outer glow */
  0 0 50px 20px #cccc6611; /* Even larger, faint glow */
}

.highlighted {
  box-shadow: 
  0 0 10px 2px #cc6600cc, /* Smaller, brighter inner glow */
  0 0 30px 10px #cc660044, /* Larger, softer outer glow */
  0 0 50px 20px #cc660011; /* Even larger, faint glow */
}

.hoverable:hover {
  font-weight: bold;
}

.mildly-highlighted {
  box-shadow: 
  0 0 10px 8px #cc660033; /* Subtle inner glow */
}

.folded-bc {
  border: 2px dashed var(--bright-orange);
  border-radius: 8px;
}

.body-container.light {
  border: 2px solid var(--bright-orange);
}

.div-dnd-placeholder {
  /* Same properties as dynamic-div */
  border: 2px solid var(--bright-yellow);
  border-radius: 5px;
  overflow: visible;
  display: inline-block;
  min-width: 85%;
  max-width: 85%;
  margin: 0.1em;
  padding-right: 0.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

/* For panels */
.dragging {
  top: 0;
left: 0;
position: absolute!important;
z-index: 1000;
  position: fixed !important;
  color: var(--bright-yellow)!important;
  opacity: 0.5 !important;
  display: inline-block !important;
  max-height: fit-content !important;
  max-width: fit-content !important;
  min-width: fit-content !important;
  min-height: fit-content !important;
  border-radius: 5px !important;
  border: 2px solid var(--bright-yellow) !important;
}

/* TODO This can go to trash */
.dynamic-handle {
  position: relative;
  bottom: 0.8em;
  left: calc(100% - 0.4em);
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: var(--subtly-transparent);
  cursor: grab;
  z-index: 1;
  display: inline-block;
  user-select: none;
}

.dynamic-div {
  border: 1px solid var(--bright-yellow);
  border-radius: 5px;
  /*white-space: pre-wrap;*/
  overflow: visible;
  display: inline-block; /* To accomodate multiline and single-line */
  /*width: fit-content;*/
  min-width: 85%;
  max-width: 85%;
  margin: 0.1em;
  padding-right: 0.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left:0.2em;
}

.dynamic-div.checked {
  text-decoration: line-through;
}

/* Style the label to look like an unchecked checkbox */
.task-label {
  color: #c60;
  padding: 0.2em 0.2em;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
}

/* Styles for the 'checked' state - add a fake checkbox */
.task-label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0 .5em;
  border: 2px solid #c60;
  border-radius: 3px;
  vertical-align: middle;
}

/* Styles when checked */
.task-label.checked::before {
  background-color: var(--bright-orange); /* Example: Green background */
  color: white;
}

.panel-handle {
  position: relative;
  left: 100%;
  top: -0.2em;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: var(--bright-orange);
  cursor: grab;
  z-index: 1;
  display: inline-block;
  user-select: none;
}

#svgContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#svgContainer.show {
  opacity: 0.8;
  display: block;
}

svg {
  width: 100%;
  height: 100%;
  position: relative;
}

.connecting-line {
  stroke: var(--wired-code); /* Default line color */
  stroke-width: 4; /* Adjust line thickness as needed */
  opacity: 0.5;
}

.body.folded {
  /*height: 1em;
    min-height: 1em;*/
  max-height: 1.5em;
  overflow: hidden;
  display: -webkit-box; /* Essential for line-clamp */
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.body-container::-webkit-scrollbar {
  width: 0.15em;
}

.body-container::-webkit-scrollbar:inactive {
  width: 0.15em;
}

.body-container::-webkit-scrollbar-thumb:vertical {
  background-color: var(--bright-orange);
  border-top-right-radius: 3px;
  background-clip: padding-box;
}

.body-container::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--bright-orange);
  border-bottom-left-radius: 3px;
  background-clip: padding-box;
}

.body-container::-webkit-resizer {
  background-color: transparent;
  border-bottom-right-radius: 3px;
}
.body-container::-webkit-scrollbar-corner {
  background-color: var(--bright-orange);
  border-bottom-right-radius: 3px;
  width: 0.15em;
}
.body-container::-webkit-scrollbar-track {
  background-color: transparent;
}
/*
  .dark .assignment {
  }
  
  .dark .keyword {
  }
  */
.string {
  color: #2aa198;
}
.light .brace {
  color: #268bd2;
}
.dark .brace {
  color: #d33682;
}
.body:focus {
  outline: none;
}

.body-container:focus {
  outline: none;
}

.dark {
  background: var(--dark-background) !important;
  color: var(--gray-text) !important;
  caret-color: #93a1a1 !important;
}

.light {
  background: var(--light-background) !important;
  color: var(--dark-background) !important;
  caret-color: #93a1a1 !important;
}

.mono {
  font-family: "monoidregular";
  font-size: 95%;
}
.serif {
  font-family: "Reforma1969";
  font-size: 100%;
}

#info {
  position: absolute;
  right: 2em;
  top: 2em;
  opacity: 1;
  transition: opacity 3s ease-in-out;
  z-index: 10000;
  line-height: 1.5;
  font-weight: 100;
  min-height: fit-content;
  min-width: fit-content;
  overflow: auto;
  font-family: "monoidregular" !important;
  z-index: -10000;
}

.fades {
  opacity: 0 !important;
  background: var(--dark-background) !important;
  border: 1px solid var(--bright-orange);
  border-radius: 5px;
  padding: 1em;
  color: var(--gray-text) !important;
  z-index: 10000 !important;
}

.alive {
  color: var(--dark-background);
  border-radius: 6px;
  background: var(--light-background);
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-family: "monoidregular";
  font-size: 80%;
}

.light .wrap .alive {
  color: var(--gray-text);
  border-radius: 6px;
  background: var(--dark-background);
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-family: "monoidregular";
  font-size: 80%;
}

div.wrap {
  display: inline-block;
}
.blur {
  filter: blur(3px);
}
.body > pre {
  font-family: "monoidregular";
  padding-left: 2em;
  font-size: 60%;
  line-height: 1.1em;
  background-color: #00000022;
  padding-right: 0.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 1px solid var(--bright-orange);
  border-radius: 5px;
  white-space: pre-wrap;
  text-indent: -1em each-line;
  font-weight: 100;
}

.code.wired {
  font-family: "monoidregular";
  padding-left: 0.2em;
  font-size: 60%;
  line-height: 1.3em;
  background-color: #00000022;
  padding-right: 0.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 1px solid var(--wired-code);
  border-radius: 5px;
  white-space: pre-wrap;
  overflow: visible;
  display: inline-block; /* To accomodate multiline and single-line */
  width: fit-content;
  font-weight: 100;
}

.code.dirty {
  border: 2px solid var(--bright-yellow) !important;
}

.code.error {
  border: 2px solid var(--bright-red) !important;
}

.code-info {
  color: var(--dark-background);
  font-family: "monoidregular";
  position: absolute;
  background-color: var(--light-background);
  padding: 0.4em;
  border-radius: 5px;
  font-size: 90%;
  border: 1px solid var(--bright-orange);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  max-width: 50%;
  transition: opacity 0.3s ease-in-out;
}

.code-info.show {
  opacity: 0.665;
}

@media print {
  body,
  .body {
    background-color: white !important;
    color: black !important;
    font-size: 15pt;
  }

  @page {
    margin-left: 2cm;
    margin-right: 2.5cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
  }
}

.highlight {
  color: var(--bright-orange);
}

#help {
  font-size: 15pt;
  line-height: 1.3;
  position: absolute;
  left: 0;
  top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 1em;
  border: 2px solid var(--bright-orange);
  border-radius: 5px;
}
